<div class="container">
    <div class="row mt-2">
        <div class="col col-md-4 offset-md-4">
          <a class="btn btn-primary" routerLink="/books/create">Create</a>
        </div>
      </div>
    <table class="table  mt-4">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Total Pages</th>
          <th scope="col">Rating</th>
          <th scope="col">Published Date</th>
          <th scope="col">Actions</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of books">
          <th scope="row">{{ item.id }}</th>
          <td>{{ item.title }}</td>
          <td>{{ item.totalPages }}</td>
          <td>{{ item.rating }}</td>
          <td>{{ item.publishedDate }}</td>
          <td>
            <a class="btn btn-primary btn-style" [routerLink]="['/books/edit', item.id]">Edit</a>
          <button type="button" (click)="delete(item.id)" class="btn btn-danger btn-style">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>